body {
  color:aquamarine;
}
#dogButton{
background-color: lightgreen;
}

#catButton{
  background-color: lightpink;
}

#dinoButton{
  background-color: lightblue;
}

#showAll{
  background-color: antiquewhite;
}

#app {
  display: flex;
  flex-flow: row wrap;
}
